@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap'); /* font-family: 'Saira Stencil One', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap'); /* h2 font-family: 'Mina', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap'); /* font-family: 'Wallpoet', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;200;300;400;500;600;800;900&display=swap'); /* font-family: 'Big Shoulders Stencil Text', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap'); /* font-family: 'Sirin Stencil', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap'); /* h2 font-family: 'Teko', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); /* h2 font-family: 'Russo One', sans-serif;*/

@font-face {
    font-family: 'Onomber';
    src: url('/fontes/Onomber_font_farra_de_elite/Onomber.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --lilas1: #7E258A;
    --lilas2: #76268C;    
    --lilas3: #410859;    
    --lilas4: #400557;
    --ama1: #F2E82B;
    --ama2: #F2D129;
    --ama3: #D9A714;    
    --cinza: #95949B;
    --branco: #F2F2F2;

    --fonte-padrão: arial, Helvetica, sans-serif;
    --fonte-destaque: 'Saira Stencil One', cursive; /* internet */
    --fonte-secundaria:'onomber',arial; /* pasta */
    --fonte-terciaria: 'mina', arial; /* internet */
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: right;
    padding: 1px 1px;
    font-family: var(--fonte-secundaria), 'Courier New', Courier, monospace;
}

header li{
    display: inline-block;    
}

.redessociais{
    width: 40px;
    padding: 5px;
}

.redessociais a:hover{
    text-decoration: none;
    color:black;
    text-shadow: none;
    background-color: transparent;   
}

body{    
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    color: yellow;
    text-align: center;
    min-width: 650px;
    max-width: 1550px;    
    max-height: 650PX;
    background-position: center center;  
    padding-top: 25px;
    margin-top: 25px;
    background-image: url('imagens/fundo/2_1550.jpeg');
}

main{
    display: flex;
    align-items: center;   
    padding: 5px;
    min-width: 280px;
    max-width: 1500px;
    margin: auto;
}

main img{
    width: 100%;      
}

h1{
    font: normal normal 1em var(--fonte-secundaria), sans-serif;
    text-shadow: 2px 2px 2px yellow;
    font-size: 7vw;
    text-align: center;
    color:black;
    padding: 0px;
    margin: 0px;
}

p{
    font-size: 14px;
}

#voltar{
    font-weight: normal;
    font-size: 14px;    
    color:cyan;
    text-decoration: none;
}

.album{
    width: 190px;    
    border-radius: 20px;
}

#disco01{
    box-shadow: -10px 10px 10px 0px yellow;
}

#disco02{
    box-shadow: 10px 10px 10px 0px yellow;
}

div{
    height: 630px;   
    margin: 1px;
    padding: 1px;
    display: inline-block;
    text-align: center;
}

div ul li{
    text-decoration: none;
    list-style: none;
    font-family: var(--fonte-terciaria);
}

#div01{
    width: 190px;
    height: 230px; 
}

#div02{ 
    width: 548px;
    height: 500px;  
    font-size: 20px;     
    text-decoration: none;
    text-align: right;
    align-items: right;    
}

#div03{ 
    width: 548px;
    height: 500px;      
    font-size: 20px;  
    text-decoration: none;
    text-align: right;
    align-items: right;  
}

#div04{ 
    width: 190px;
    height: 230px;
   margin-right: px;
}

.audio{
    width: 225px;
    height: 20px;
}

.download{
    width: 23px;
}

#linkdownload{
    font-size: 15px;
    text-decoration: none;
    color: yellow;
}
