@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap'); /* h2 font-family: 'Mina', sans-serif; */

@font-face {
    font-family: 'Onomber';
    src: url('/fontes/Onomber_font_farra_de_elite/Onomber.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --lilas1: #7E258A;
    --lilas2: #76268C;    
    --lilas3: #410859;    
    --lilas4: #400557;
    --ama1: #F2E82B;
    --ama2: #F2D129;
    --ama3: #D9A714;    
    --cinza: #95949B;
    --branco: #F2F2F2;

    --fonte-padrão: arial, Helvetica, sans-serif;
    --fonte-destaque: 'Saira Stencil One', cursive; /* internet */
    --fonte-secundaria:'onomber',arial; /* pasta */
    --fonte-terciaria: 'mina', arial; /* internet */
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: right;
    padding: 1px 0px;
    font-family: var(--fonte-secundaria), 'Courier New', Courier, monospace;
    background-color:transparent;
}

header li{
    display: inline-block;
    text-align: center;   
}

.redessociais{
    width: 40px;
    padding: 5px;
}

body{
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    text-align: center;
    background-position: center center; 
    padding-top: 20px;
    margin-top: 20px;    
    padding: 20px;
    max-width: 100px;
    background-image: url('imagens/fundo/2_1550.jpeg');
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    align-items: center;   
    min-width: 1480px;
    margin: auto;
    padding: 10px;
    background-color: transparent;
}

.menu{
    font: normal normal 3em var(--fonte-secundaria), sans-serif;
    text-align: center;
    color:rgb(0, 0, 0);
    text-shadow: 3px 3px 3px yellow;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    line-height: 1.6em;
    font-size: 60px;
}

div{
    display: inline;
    align-items: center;
    justify-content: center;
    min-width: 450px;
    margin: 1px;
    padding: 1px;
}

#div01semespelhamento{
    width: 200px;
    height: 550px;
    background-color:transparent;
}

#div02menu{ 
    width: 400px;
    height: 550px;
    background-color:transparent; 
}

#div03comespelhamento{
    width: 200px;
    height: 550px;
    background-color:transparent;  
}

#iconemenu{
    align-items: center;
    justify-content: center;
    width: 100px;
    text-align: center;
}

.carrosselmenu{
    position: relative;
    height: 200px;
    width: 100vw;
    background: transparent;
    margin: 0;
    padding: 0;
    
}

/*
.imagemmenu{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: transparent;
    max-width: 100%;    
    margin: 0;
    padding: 0;
    
}*/

img{
    width: 210px;
}

ul{
    list-style: none;
}

ul a{/* links */
    text-decoration: none;    
}

ul a:hover.menu{ /* ao passar o mouse em cima */
    text-decoration: none;
    color: #7E258A;
    text-shadow: 3px 3px 3px black;
    background-color: yellow;
    border-radius: 10px;
    transition-duration: 0.5s;
}

#invisivel{/* esconder a palavra home */
    display: none;
}