@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap'); /* font-family: 'Saira Stencil One', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap'); /* h2 font-family: 'Mina', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap'); /* font-family: 'Wallpoet', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;200;300;400;500;600;800;900&display=swap'); /* font-family: 'Big Shoulders Stencil Text', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap'); /* font-family: 'Sirin Stencil', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap'); /* h2 font-family: 'Teko', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); /* h2 font-family: 'Russo One', sans-serif;*/

@font-face {
    font-family: 'Onomber';
    src: url('/fontes/Onomber_font_farra_de_elite/Onomber.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --lilas1: #7E258A;
    --lilas2: #76268C;    
    --lilas3: #410859;    
    --lilas4: #400557;
    --ama1: #F2E82B;
    --ama2: #F2D129;
    --ama3: #D9A714;    
    --cinza: #95949B;
    --branco: #F2F2F2;

    --fonte-padrão: arial, Helvetica, sans-serif;
    --fonte-destaque: 'Saira Stencil One', cursive; /* internet */
    --fonte-secundaria:'onomber',arial; /* pasta */
    --fonte-terciaria: 'mina', arial; /* internet */
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: right;
    padding: 9px 0px;
    font-family: var(--fonte-secundaria), 'Courier New', Courier, monospace;
    background-color:transparent;
    background-repeat: repeat;  
    border-radius:0px 0px 5px 5px; 
}

header li{
    display: inline-block;    
}

.redessociais{
    width: 60px;
    padding: 5px;
}

.redessociais a:hover{
    text-decoration: none;
    color:black;
    text-shadow: none;
    background-color: transparent;
    
}

main{
    padding: 1px;
    background-image: url('imagens/elly/fundo800.jpg');
    box-shadow: 0px 0px 10px var(--lilas1);
    border-radius: 0px 0px 0px 0px;
}

div{
    width: 100px;
    height: 710px;
    display: inline-block;
}

.container{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

ul a{/* links */
    text-decoration: none;
    font-weight: bold;
    color:yellow;
}

ul a{ /* configuração genérica do link */
    text-decoration: none;
    color:yellow;
    font-weight: normal;
    transition-duration: 0.5s;
}

ul a:visited{ /* visitado */
    color: black;
    text-shadow: 2px 2px 2px yellow;
}

ul a:hover.menu{ /* ao passar o mouse em cima */
    text-decoration: none;
    color: #7E258A;
    text-shadow: 3px 3px 3px black;
    background-color: yellow;
    border-radius: 10px;
}

nav a:active{ /* ao clicar */
    color: lightgreen;
}

.menu{
    font: normal normal 3em var(--fonte-secundaria), sans-serif;
    font-size: 4vw;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 2px yellow;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 1.5em;
}

footer{
    text-align: center; 
    background:black;
    color:purple;
	font-size: 10px;
    padding: 10px;
}